.wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.count{
    font-size: 22px;
    .heading{
        color: rgba(0, 0, 0, 0.534);
        text-transform: capitalize;
    }
    .number{
        font-weight: 600;
    }
}