@import '../../../scss/variables';

.input{
    padding: 14px 14px 14px;
    min-width: 250px;
    background-color: $purple;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    border: 1px solid transparent;
    margin: 19px auto;
    outline: none;

    &:focus{
        border-color: rgba($accent, 0.3);
    }

    &::placeholder{
        color: rgba(148, 110, 134, 1);

    }
}