@import '../../../scss/variables';

$accent-04: rgba($accent, 0.7);

.button{
    border: none;
    outline:none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding:11px 46px;
    border-radius: 10px;
    transition: background-color .2s ease-in;
    background-color: $accent-04;
    &:hover{ //берем button элемент :hover
        background-color: rgba($accent, 0.7);
    } 
    &.main{
        background-color: rgba(255,255,255, 0.3);
        padding:13px 46px;
        &:hover{
            background-color: $accent-04;
        }
    }
}
.wrapper {
	text-align: center;
}