.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 30px;
    height: 740px; //900
    width: 500px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}